# Ignore dependencies
node_modules/

# Ignore environment files
.env

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build output
dist/
build/

# Ignore IDE settings
.vscode/

#Ignore DButils - for private use
DButils.js

#Ignore other misc - for private use
koyeb-pw-summary.txt
testMailer.js
