<div class="checkEmailDetails">
	<p>
	  <strong><%= email %></strong>
	</p>
	<p>
	  Check your email shortly and confirm in order to receive notifications
	  ✉️
	</p>
	<button onclick="window.location.href='/'" class="button">
	  Return to Main
	</button>
  </div>