<div class="checkEmailDetails">
  <p>
    <strong><%= email %></strong>
  </p>
  <p>
    Check your email and confirm in order to receive notifications ✉️
  </p>
  <p><em>Please check your spam/junk folder, and whitelist if needed</em></p>
  <p>Unverified signups will be deleted after 48 hours.</p>
  <button onclick="window.location.href='/'" class="button">
    Return to Main
  </button>
</div>
