<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASRock BIOS Checker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <link rel="icon" href="/favicon.ico" sizes="32x32" />
  </head>
  <body>
    <header id="header">
      <img src="/images/biosimg.png" />
    </header>

    <main id="main">
			<div class="errorDetails">
				<p><strong><%= title %></strong></p>
				<p><%= message %></p>
				<button onclick="window.location.href='/'" class="button">
					Return to Main
				  </button>
			</div>
    </main>

    <footer id="footer">
      <a href="https://github.com/orzcode/biosChecker" target="_blank">
        Created by Orz <i class="fa-brands fa-github"></i>
      </a>
    </footer>
</html>
