<div class="unsubscribeDetails">
	<p>
	  <strong><%= email %></strong>
	</p>
	<p>Unsubscribed from email notifications</p>
	<button onclick="window.location.href='/'" class="button">
	  Return to Main
	</button>
  </div>