:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #318b2e;
  --main: #202020;
  /* --highlighted: #22334B; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid rgb(142, 53, 53);
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;
  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
button {
  background-color: var(--header);
  border-radius: 8px;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}
/* ----------------------------------------- */
html {
  background-color: var(--main);
  color: whitesmoke;
}
#header {
  text-align: center;
  margin: auto;
}
h1 {
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(3.3rem, 5vw, 4.5rem);
}
#main {
  background-color: var(--main);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer {
  width: 100%;
  text-align: center;
  /* filter: drop-shadow(0px 0px 4px rgb(var(--header))); */
}
a,
a:visited {
  text-decoration: none;
  color: initial;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.fa-brands, .fa-sharp {
  color: whitesmoke;
  font-size: 75%;
}
/* ----------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
/* ----------------------------------------- */
table {
  border-collapse: collapse;
  border-left: 2px solid var(--header);
  border-right: 2px solid var(--header);
}
th,
td {
  border-top: 2px solid var(--header);
  border-bottom: 2px solid var(--header);
  padding: 8px;
  text-align: center;
}
th {
  background-color: var(--header);
}
.form-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
