:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --header: #85c226; */
  --header: #6b9b1d;
  --main: #202020;
  /* --main: #4a5942; (Old Steam) */

  /* --1851: #015cb5;
  --AM5: #ed1c24; */

  --1851: #003366;
  --AM5: #660000;

  --1700: color-mix(in srgb, var(--1851) 60%, transparent);
  --AM4: color-mix(in srgb, var(--AM5) 60%, transparent);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgb(142, 53, 53); */
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;
  scroll-behavior: smooth;
  caret-color: transparent;
  scrollbar-gutter: stable;
  /* prevents re-shifting when scrollbar disappears */
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button {
  background-color: var(--header);
  border-radius: 8px;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}
/* ----------------------------------------- */
html {
  background-color: var(--main);
  color: whitesmoke;
}
#header {
  text-align: center;
  margin: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
h1 {
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(2rem, 4vw, 4rem);
}
.blurb{
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: clamp(1.1rem, 2vw, 2rem);
}
#main {
  background-color: var(--main);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
#footer {
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  /* filter: drop-shadow(0px 0px 4px rgb(var(--header))); */
}
a,
a:visited {
  text-decoration: none;
  color: initial;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.fa-brands,
.fa-sharp {
  color: whitesmoke;
  font-size: 75%;
}
.hachimitsu
{
  display: none;
}
/* ----------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;

  font-size: clamp(1.1rem, 2vw, 2rem);
}
/* ----------------------------------------- */
img {
  max-width: 100%;
}
/* ----------------------------------------- */
table {
  border-collapse: collapse;
  border-left: 2px solid var(--header);
  border-right: 2px solid var(--header);

  /* outline: 2px solid var(--header);
  border-radius: 1rem; */
}
th,
td {
  border-top: 2px solid var(--header);
  border-bottom: 2px solid var(--header);
  padding: 7px;
  text-align: center;
}
th {
  background-color: var(--header);
}
.form-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
[data-row="1851"] {
  background-color: var(--1851);
}
[data-row="1700"] {
  background-color: var(--1700);
}
[data-row="AM5"] {
  background-color: var(--AM5);
}
[data-row="AM4"] {
  background-color: var(--AM4);
}
.legendIntel {
  color: #0065ca;
}
.legendAMD {
  color: #c60000;
}

[data-cell="model"] {
  width: 33ch;
}
[data-cell="maker"] {
  width: 5ch;
}
[data-cell="socket"] {
  width: 4ch;
}

[data-cell="link"] {
  display: flex;
  flex-wrap: wrap;
}
/* ----------------------------------------- */
.filterGroup {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

legend {
  color: var(--header);
  text-align: center;
}
fieldset {
  border: none;
}
.label-group {
  display: flex;
  gap: 0 2rem;
}

.checkbox-btn {
  cursor: pointer;
  position: relative;
  color: var(--header);
}

.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-btn span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.checkbox-btn input:checked + span {
  background-color: var(--header);
}

.checkbox-btn span::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-btn input:checked + span::after {
  display: block;
}

.checkbox-btn span::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* ----------------------------------------- */
.buttonsDiv, .submissionDetails, .unsubscribeDetails, .errorDetails, .checkEmailDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-grow: 1; /* Fills the remaining space */
  gap: 1rem;
  padding: 1rem;

  justify-content: space-evenly;
}
.moboThumb {
  border-radius: 1rem;
  max-width: 300px;
}
.unsub {
  filter:grayscale(10%) opacity(0.9);

}
