:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #318b2e;
  --main: #202020;
  /* --highlighted: #22334B; */

  --1851: #003366;
  --AM5: #660000;

  --1700: color-mix(in srgb, var(--1851) 70%, transparent);
  --AM4: color-mix(in srgb, var(--AM5) 70%, transparent);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgb(142, 53, 53); */
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;
  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
button {
  background-color: var(--header);
  border-radius: 8px;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}
/* ----------------------------------------- */
html {
  background-color: var(--main);
  color: whitesmoke;
}
#header {
  text-align: center;
  margin: auto;
}
h1 {
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(3rem, 5vw, 4.5rem);
}
#main {
  background-color: var(--main);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer {
  width: 100%;
  text-align: center;
  /* filter: drop-shadow(0px 0px 4px rgb(var(--header))); */
}
a,
a:visited {
  text-decoration: none;
  color: initial;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.fa-brands,
.fa-sharp {
  color: whitesmoke;
  font-size: 75%;
}
/* ----------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;

  font-size: clamp(1.1rem, 2vw, 2rem);
}
/* ----------------------------------------- */
table {
  border-collapse: collapse;
  border-left: 2px solid var(--header);
  border-right: 2px solid var(--header);
}
th,
td {
  border-top: 2px solid var(--header);
  border-bottom: 2px solid var(--header);
  padding: 8px;
  text-align: center;
}
th {
  background-color: var(--header);
}
.form-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
[data-socket="1851"] {
  background-color: var(--1851);
}
[data-socket="1700"] {
  background-color: var(--1700);
}
[data-socket="AM5"] {
  background-color: var(--AM5);
}
[data-socket="AM4"] {
  background-color: var(--AM4);
}
/* ----------------------------------------- */
.filterGroup {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

legend {
  color: var(--header);
  text-align: center;
}
fieldset {
  border: none;
}
.label-group {
  display: flex;
  gap: 0 2rem;
}

.checkbox-btn {
  cursor: pointer;
  position: relative;
  color: var(--header);
}

.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-btn span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.checkbox-btn input:checked + span {
  background-color: var(--header);
}

.checkbox-btn span::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-btn input:checked + span::after {
  display: block;
}

.checkbox-btn span::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
